Django~=4.2
psycopg2-binary
django-split-settings
python-decouple
django-stubs[compatible-mypy]
structlog

django-migration-linter

Pillow==10.2.0

social-auth-app-django
django-extensions
werkzeug==2.2.2
pyOpenSSL==22.0.0
pyopenssl
cryptography

requests==2.31.0

easy-thumbnails==2.10

redis==4.3.4